<!--dùng chung cho 5 giao diện-->
     <!-- ==============================
     POPUP XÁC NHẬN ĐĂNG XUẤT
     ============================== -->

<div
        id="logoutModal"
        class="logout-modal">

    <div class="logout-overlay">

        <div class="logout-dialog">

            <!-- Icon -->
            <div class="logout-icon">
                ⇥
            </div>


            <!-- Tiêu đề -->
            <h3>
                Xác nhận đăng xuất
            </h3>


            <!-- Nội dung -->
            <p>
                Bạn có chắc muốn đăng xuất?
            </p>


            <!-- Nút -->
            <div class="logout-actions">

                <button
                        type="button"
                        id="cancelLogout"
                        class="logout-cancel">

                    Hủy

                </button>


                <button
                        type="button"
                        id="confirmLogout"
                        class="logout-confirm">

                    Xác nhận

                </button>

            </div>

        </div>

    </div>

</div>